body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #ff512f, #dd2476);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    background-color: azure;
    width: 700px;
    height: 300px;
    padding: 70px;
    border-radius: 30px;
}
.title
{
    margin-left: 180px;
    margin-top: -70px;
    font-family:'popins',sans-serif;
}
.input {
    width: 450px;
    border: 3px solid transparent;
    background: white;
    box-shadow: 0 0 0 3px #ff512f;
}
.list-selector{
    list-style: none;
    padding: 0%;
    font-size: large;
    margin-right: 40px;
}
